h1 {
    color: brown;
    justify-self: left;
    margin-top: 15vh;
}

p {
    color: darkgreen;
    justify-self: left;
    margin-top: 5vh;
}

ul {
    color: darkred;
    justify-self: left;
    margin-top: 5vh;
    display: inline-block;
}

h5 {
    color: darkblue;
    justify-self: left;
    margin-top: 5vh;
}